.publication {
    width: 100%;
    background: var(--white);
    border-radius: 8px;
    border: 1px solid var(--green-100);
    overflow: hidden;

}

.superior {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
    margin-left: 2.70rem;
    margin-bottom: 1.25rem;
    margin-top: 2.68rem;

}

.avatar {
    box-sizing: initial;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    border: 8px solid var(--gray-800);
    outline: 2px solid var(--green-100);

}

.description {
    display: flex;
    flex-direction: column;


}

.descriptionFeed {
    display: flex;
    flex-direction: column;
    gap: 1.56rem;
    margin-left: 2.70rem;
    margin-right: 2.70rem;
    margin-top: 2.5rem;



}

.descriptionFeed a {
    text-decoration: none;
    color: var(--green-100);

}

.description strong {
    font-size: 1.5rem;
    line-height: 1.6;

}

.description span {

    color: var(--gray-500);
    line-height: 1.6;
}

.horario {
    margin-right: 2.5rem;
    margin-top: 2rem;
}


.publication1 {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    line-height: 25.6px;
    margin-left: 2.70rem;
    margin-right: 2.70rem;
    border-top: 2px solid var(--gray-400);

}

.publication1 textarea {
    background: var(--gray-100);
    width: 66.5rem;
    height: 6rem;
    resize: none;
    border-radius: 8px;
    border: none;

}

.publication1 textarea::placeholder {
    padding: 1rem;
}

.publication1 strong {
    margin-bottom: 0.69rem;
}

.publication1 form {
    margin-top: 2rem;
}


.publication1 button {
    width: 6.75rem;
    height: 3.032rem;
    border-radius: 8px;
    background: var(--green-100);
    border: none;
    color: var(--white);
    margin-top: 1rem;
    margin-bottom: 2.70rem;

}

.publication1 button:hover {
    background-color: var(--green-200);
}